.card_product{
	margin-bottom: 32px;
}

.card_product img{
	margin-top: 16px;
}

.bloc_product a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.card{
	border:none;
}

.bloc_product table{
	border-spacing : 0;
	border-collapse : collapse;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  }

.container{
    font-family: 'Roboto';
}

h1 {
    text-align:center;
    text-decoration: none; 
 
}
h2 {
    color: white;
    background-color: green;
    text-align: center;
    font-size: 30px;
    

}

.bouton{
    background-color: green;
    ;
}

#textarea{
    height: 80%;
    
}
