#Accueil{
    background-color: #0a1a36;
}
#Produits{

}
#Contact{

}
/* style footer */


.message-bas{
    text-align: center;
    margin-top: 40px;
}
.message-bas a{
    color:  #b4b9bf;
    text-decoration: none;
}
.message-bas a:hover{
    color: grey;
}


.fa {
    width: 50px;
    font-size: 70px;
    color:  #b4b9bf;
}

.fa:hover{
    color:grey;
}


.list-unstyled a {
    color: #b4b9bf;
}

.list-unstyled a:hover{
    color: grey;
    text-decoration: none;
}

footer{
    background-color: #0a1a36;
    color: #b4b9bf;
}

footer h5{
    color: #dce1e8;
    font-size: x-large;
    padding-top: 40px;
}

/*footer*/

/* navbar */

nav h1 {
	text-align: center;
}
.greenness {
	text-align: center;
	font-size: 55px;
	color: black;
}
.glogo {
    width: 45px;
    position: absolute;
    top: 6px;
}

.glogo:hover {
	width: 47px;
}
.navbar{
    box-shadow: 2px 1px 1px gray;

}

.beer {
	width: 100%;
}

/* Modifier la couleur du burger au survol */
.btn-success:hover {
	background-color:#99CC5B;
}

nav ul li
{
	font-size: 19px;
    margin:0 20px;
}
/* banniere */

.background {
    width: 100%;
}

  
body {
    font-family: 'Roboto', sans-serif;
}
#panier{
    position: absolute;
    right:20px;
    top: 22px;
}

#nbItems {
    display: none;
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: red;
    color: white;
    border-radius:50%;
    height: 20px;
    width: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}

#basket-container {
    height: 20px;
    width: 20px;
}

/* intégration étiquettes produit Charles */

.produit{
	margin: 20px 20px 60px 20px;
	border-radius: 8px;
}

.progress{
	margin-bottom:16px;
}

.produit button{
	margin-top:16px;
	margin-bottom: 16px;
}

.descriptif{
	text-align: center;
	margin-top: 16px;
}

.descriptif p{
	margin-top: 24px;
	min-height: 100px;
}

.descriptif h5{
	font-size: 40px;
}
.produit h6{
	font-size: 12px;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Fin */

h2 {
    text-align:center;
    text-decoration: none; 
    margin-bottom: 16px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 4px;
}

input, textarea {
    margin-bottom: 8px;
}

.btn-green, input[type=submit] {
    background-color: #316F3E !important;
    color: white !important;
}

/* configuration fenetre pop-up*/
.TitreBiere {
    font-size: 64px;
 }

.blocachat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    padding-top: 3em;

}

.modal-body{
    text-align: center;
}

.SelectPanier{
    margin-bottom: 16px;
}

.barre{
    height:5px;
    width:80%;
    background-color:lightgray;
    
    
 }
 .Prix {
     font-size: 20px;
 }
 .Price{
     display: flex;
     justify-content: space-between;
     padding:1em;
 }

 .close{
     position: absolute !important;
     top: 0;
     right: 16px;
     color: rgb(95, 95, 95);
     font-size: 32px;
    
 }
/* carousel */

#carousel {

	margin-top: 70px;
}     


/* Bullet Points */


.bullet-image {
  width: 20%;
}

.bullet-title {
  border-bottom: 2px solid gray;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.bullet-image {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.container1 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.box {
  margin: 40px;
  text-align: justify;

}
@media screen and (min-width: 1000px){

.box{
    width:33%;
}
}

/*youtube video section */

.video {
  
text-align: center;

margin-top: 40px;
margin-bottom: 60px;}


@media screen and (max-width: 1000px){

  .container1{
    display: flex;
    flex-direction: column;
  }
  
  .video-paragraph {
    margin-top: 3%
  }
  
  .video {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 200px;
    margin-top: 7%;
  }
  
  iframe {
    width: 100%;
  }
  

}

#contact {
	margin-top: 50px;
}

form { margin-top: 40px; }

#map {
	margin-top: 40px;
}


/* livraison */

.livraison{
    margin-top:70px;
    margin-bottom: 70px;
}

 .livraison .container{
     text-align: center ;
    
color: black;
padding: auto;
}
#logo .fa {
    color: black;
}
#logo p {
    
    margin: auto;
    padding-top: 10px;
}

#rocket{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
  
 /* fin livraison */

.m-title {
    font-size: 1.5rem;
}


@media screen and (max-width: 575px){

    #panier{
        right: 100px;
    }


}
@media screen and (max-width: 768px){


        #rocket{
            border:0px;
            margin-top:40px;
            margin-bottom: 50px;
        }

}

#ageCheck {
    display: none;
    position: fixed; 
    z-index: 1021;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7);   
}

#ageCheckContent {
    background-color: white;
    margin: 15% auto;
    padding: 16px;
    width: 70%;
    border-radius: 4px;
}

h1, h2, h3, h4, h5, .bullet-title, .greenness, .Prix, .TitreBiere {
    font-family: 'Kaushan Script', cursive;
}

.quantity {
    width: 70px;
}