
/* style footer */


.message-bas{
    text-align: center;
    margin-top: 40px;
   
}
.message-bas a{
    color: black;
}
.message-bas a:hover{
    color: grey;
}


.fa {
    padding-top: 20px;
    width: 50px;
    font-size: 70px;
    color: black;

}

.fa:hover{
    color:grey;
}


.list-unstyled a {
    color:black;
}

.list-unstyled a:hover{
    color: grey;
    text-decoration: none;
}
/*footer*/

/* navbar */

.bg-white {
	background-color: white;
}
nav h1 {
	text-align: center;
}
.greenness {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 55px;
	color: black;
}

h1 a:hover {
	color: inherit;
	}

	
}

.bg-green {
	background-color: #86f0c0;

}
/* Modifier la couleur du burger au survol */
.btn-success:hover {
	background-color:#99CC5B;
}

nav li
{
	font-size: 19px;
}
  
body {
    font-family: 'Roboto', sans-serif;
}

.card_product{
	margin-bottom: 32px;
}

.card_product img{
	margin-top: 16px;
}

.bloc_product a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.card{
	border:none;
}

.bloc_product table{
	border-spacing : 0;
	border-collapse : collapse;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

h2 {
    text-align:center;
    text-decoration: none; 
    margin-bottom: 16px;
}

#map {
    height: 400px;
    width: 100%;
}

input, textarea {
    margin-bottom: 8px;
}

input[type=submit] {
    background-color: #316F3E !important;
    color: white !important;
}

