body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align:center;
    text-decoration: none; 
    margin-bottom: 16px;
}

#map {
    height: 400px;
    width: 100%;
}

input, textarea {
    margin-bottom: 8px;
}

form button {
    background-color: #316F3E !important;
    color: white !important;
}